.my-back{

    background-image: url(https://i.pinimg.com/originals/a5/9f/58/a59f583177f243f945b19326a21af8af.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}